.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    text-align: center;
}
.content-section {
    display: flex;
    align-items: center; 
    gap: 20px; 
  }
  
  .image-container img {
    width: 100%; 
    max-width: 400px;
  }
  
  .text-content h1,
  .text-content p {
    margin: 0; 
  }
  
  .learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073a9; /* Flickr's brand color for demonstration */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; /* Adds a little space above the button */
  }
  
  .learn-more-btn:hover {
    background-color: #005f86; /* Darker shade for hover effect */
  }
  .accordion-button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.4s ease;
}

.active, .accordion-button:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

  