.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    text-align: center;
}
.content-section {
    display: flex;
    align-items: center; 
    gap: 20px; 
  }
  
  .image-container img {
    width: 100%; 
    max-width: 400px;
  }
  
  .text-content h1,
  .text-content p {
    margin: 0; 
  }
  
  .learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073a9; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; 
  }
  
  .learn-more-btn:hover {
    background-color: #005f86; /* Darker shade for hover effect */
  }

  .accordion-header {
    color: #444;
}
  .accordion-button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.4s ease;
}

.active, .accordion-button:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}



.footer-container {
  background-color: black; 
  height: unset;
  color: white;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}

.footer-message {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}

.footer-icons {
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer-message a {
  color: white;
  text-decoration: none;
}

.footer-copyright {
  margin: auto;
}

.footer-map {
  width: 50%;
  margin: auto;
}

@media ( width <= 1200px) {
  .content{
      flex-direction: column-reverse;
      align-items: center;
  }

  .footer-message {
      width: 100%;
  }

  .footer-wrapper {
      flex-direction: column;
      padding: 1rem;
  }

  .footer-map {
      display: none;
  }
}

@media ( width <= 400px) {
  .content-image {
      display: none;
  }

  .footer-message {
      width: 100%;
      flex-direction: column;
  }

}
  